ext/
*.exec
*.a
*.bin
*.hex
*.elf
*.srf06-cc26xx
*.map
obj_srf06-cc26xx/
.DS_Store
matrixssl/matrixssl/
polarssl/mbedtls-2.6.0/
micro-ecc/micro-ecc/
tinycrypt/tinycrypt/
wolfssl/wolfssl
tinydtls/tinydtls/
libtomcrypt/libtomcrypt/
.vagrant/
*.size
